@import "./assets/sass/variables";
@import "./assets/sass/fonticons";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

@mixin breakpoint($point) {
  @if $point == phone {
    @media only screen and (min-width: 37.5em) {
      @content;
    } //600px
  }
  @if $point == tab-port {
    @media only screen and (min-width: 56.25em) {
      @content;
    } //900px
  }
  @if $point == tab-land {
    @media only screen and (min-width: 75em) {
      @content;
    } //1200px
  }
  @if $point == small-desktop {
    @media only screen and (min-width: 87.5em) {
      @content;
    } //1400px
  }
  @if $point == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: inherit;
}

html {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8fa;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
